@import '../../styles/_variables.css';

/* Main Component */
.btn {
  cursor: pointer;
  display: grid;
  outline: none;
  place-items: center;
  position: relative;
}

/* Icon Button */
.btn-icon svg path {
	fill: var(--clr-accent);
}

.btn-icon:focus svg path {
	fill: var(--clr-primary);
}

/* Tooltip */
.btn-icon[aria-label]:after {
  background: var(--clr-tooltip);
  border-radius: 5px;
  color: white;
  content: attr(aria-label);
  opacity: 0;
  padding: 4px 8px;
  pointer-events: none;
  position: absolute;
  top: 120%;
  transition: opacity 0.2s;
  white-space: nowrap;
  z-index: 20;
}

.btn-icon[aria-label]:hover:after {
  opacity: 1;
  transition-delay: 0.2s;
}

.btn--left[aria-label]:after {
  left: 0;
}

.btn--right[aria-label]:after {
  right: 0;
}

.btn--close {
	background: var(--red);
	border-radius: 50%;
	height: 12px;
	left: 10px;
	position: absolute;
	top: 10px;
	width: 12px;
}

.btn--close svg path {
	fill: none;
}

.btn--close:hover svg path {
	fill: var(--clr-background);
}

.btn--close[aria-label]:after {
	display: none;
}
