@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto+Mono:wght@300;400;700&family=Roboto+Slab:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Roboto+Mono:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&family=Source+Code+Pro:wght@300;400;700&display=swap');

:root {
	--purple: #6C5CE7;

	--white-0: #FFFFFF;
	--white-1: #FBFBFB;
	--white-2: #EDEDED;
	
	--gray-0: #DEDEDE;
	--gray-1: #A0A0A0;
	--gray-2: #999999;
	--gray-3: #636366;
	--gray-4: #333333;

	--red: #F03434;

	--clr-primary: var(--purple);

	--serif-merriweather: "Merriweather", serif;
	--serif-roboto: "Roboto Slab", serif;
	--sans-roboto: "Roboto", sans-serif;
	--sans-open: "Open Sans", sans-serif;
	--mono-roboto: "Roboto Mono", monospace;
	--mono-source: "Source Code Pro", monospace;

	--font-primary: var(--sans-roboto);
	--font-content: var(--mono-source);
}

[data-theme="light"] {
	--clr-background: var(--white-1);
	--clr-border: var(--gray-0);
	--clr-accent: var(--gray-1);

	--clr-text--primary: var(--gray-4);
	--clr-text--secondary: var(--gray-3);

	--clr-note-bg--hover: var(--white-0);
	--clr-note-border--hover: var(--clr-primary);
	--clr-note-bg--active: var(--white-2);
	--clr-note-border--active: var(--gray-2);
}