/*
**
**  TABLE OF CONTENTS
**
**  Font...................................Google font import
**  Variables..............................Color and font variables
**  Base...................................Base file import
**  Components.............................Component file import
**  Layout.................................Layout file import
**
*/


/* || Google Font Import || */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/* || Variables || */
:root {
  --purple: rgb(108, 92, 231);
  --purple--light: rgb(201, 196, 246);
  --white: #FAFAFA;
  --gray: rgb(99, 99, 102);
  --gray--light: rgb(204, 204, 204);
  --gray--lightest: rgb(248, 248, 248); /* #f8f8f8 */
  --gray--dark: rgb(44, 44, 46);
  --gray--darkest: rgb(28, 28, 30);
  --manilla: rgb(253, 246, 227); /* #fdf6e3 */

  --color-primary: var(--purple);
  --color-secondary: var(--purple--light);
  --color-accent: var(--gray--light);
  --color-text: var(--gray--darkest);
  --color-bg: white;
  --color-bg--alt: var(--white);
  --color-bg--code: var(--manilla);
  --color-select: var(--color-secondary);
  --color-overlay: rgba(255, 255, 255, 0.8);

  --font-main: "Roboto";
  --font-serif: Georgia, serif;
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: "Courier New", Courier, monospace;
}

[data-theme="dark"] {
  --color-primary: var(--purple);
  --color-secondary: var(--purple--light);
  --color-accent: var(--gray);
  --color-text: white;
  --color-bg: var(--gray--dark);
  --color-bg--alt: var(--gray--darkest);
  --color-select: var(--color-primary);
  --color-overlay: rgba(99, 99, 102, 0.8);
}

[data-font="serif"] { --font-content: var(--font-serif); }

[data-font="sans"] { --font-content: var(--font-sans); }

[data-font="mono"] { --font-content: var(--font-mono); }


/* || Base File Import || */
@import 'base.css';


/* || Components File Import || */
@import 'components.css';


/* || Layout File Import || */
@import 'layout.css';