/*
**
**  CONTENT
**
**  Font...................................Google font import
**  Variables..............................Color and font variables
**  Base...................................Base file import
**  Components.............................Component file import
**  Layout.................................Layout file import
**
*/


/* || Google Font Import || */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/* || Variables || */
:root {
  --primary-purple: #6C5CE7;
  --primary-purple--light: #c9c4f6;
  --accent-gray: #dcdcde;
  --font-main: "Roboto";
}


/* || Base File Import || */
@import 'base.css';


/* || Components File Import || */
@import 'components.css';


/* || Layout File Import || */
@import 'layout.css';