/* || Header Component Styles || */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    color: var(--primary-purple);
    cursor: pointer;
    position: relative;
}

.icon[aria-label]:after {
    opacity: 0;
    content: attr(aria-label);
    padding: 4px 8px;
    position: absolute;
    top: 120%;
    white-space: nowrap;
    z-index: 20;
    background: gray;
    color: white;
    border-radius: 5px;
    transition: opacity 0.2s;
    pointer-events: none;
}

.icon[aria-label]:hover:after {
    opacity: 1;
    transition-delay: 0.2s;
}

.icon-left[aria-label]:after {
    left: -40%;
}

.icon-right[aria-label]:after {
    right: -40%;
}

.icon-space {
    margin-right: 1.3rem;
}

/* || Sidebar Component Styles || */
.sidebar_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 3.5rem;
    border-bottom: 1px solid var(--accent-gray);
    padding: 0 0.7rem;
}

.sidebar_notes {
    font-family: var(--font-content);
    height: calc(100% - 3.5rem);
    overflow-y: auto;
}

.notes-empty {
    color: gray;
    font-weight: 400;
    height: calc(100vh - 7rem);
    line-height: calc(100vh - 7rem);
    text-align: center;
}

.note {
    border-bottom: 1px solid var(--accent-gray);
    cursor: pointer;
    min-height: 2.6rem;
    max-height: 3.5rem;
    padding: 0.7rem;
}

.note:hover { background-color: var(--color-select); }

.note[data-state="is-active"] {
    background-color: var(--color-select);
    border-bottom: 1px solid var(--color-select);
}

.note-title, .note-preview {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.note-title {
    font-size: 1rem;
    font-weight: 400;
}

.note-preview { font-size: 0.8rem; }

@media only screen and (max-width: 900px) {
    .note[data-state="is-active"] {
        background-color: transparent;
        border-bottom: 1px solid var(--accent-gray);
    }
}


/* || Content Component Styles || */
.content {
    background-color: inherit;
    color: var(--color-text);
    font-family: var(--font-content);
    height: 100%;
    margin: auto;
    padding: 1rem 15%;
    width: 100%;
}

.content a { color: var(--primary-purple); }

.content blockquote {
    border-left: 3px solid var(--primary-purple);
    padding: 0 1rem;
}

.content table,
.content table th,
.content table td {
    border: 1px solid var(--accent-gray);
    border-collapse: collapse;
    padding: 0.3rem;
}

.content p { line-height: 1.5rem; }

.content pre {
    border: 1px solid var(--color-code-border);
    border-radius: 3px;
    padding: 1rem;
}

.content code {
    background-color: var(--color-code-bg);
    border: 1px solid var(--color-code-border);
    border-radius: 3px;
    color: black;
    padding: 0 0.4rem;
}

.content pre code {
    border: none;
    border-radius: 0;
    display: block;
    font-size: 0.8rem;
    line-height: 1.5rem;
    overflow-x: auto;
    padding: 0.8rem 0.5rem;
}

@media only screen and (max-width: 900px) {
    .content {
        padding: 1.5rem;
    }

    .content img { max-width: 100%; }
}


/* || Menu Component Styles || */
.menu {
    display: grid;
    font-size: 0.9rem;
    grid-template: 1fr 15% 7% / 1fr;
}

.menu_settings, .menu_contact, .menu_footer {
    display: flex;
}

.menu_settings, .menu_contact {
    align-items: flex-start;
    flex-direction: column;
    padding: 0.6rem;
}

.menu_footer {
    align-items: center;
    justify-content: center;
}

.menu_contact,
.menu_footer {
    border-top: 1px solid var(--accent-gray);
}

.menu_settings { justify-content: flex-start; }

.menu_contact { justify-content: space-between; }

.settings {
    width: 100%;
}

.settings_title {
    color: gray;
    margin: 1rem 0 0.4rem 0;
}

.settings_option {
    border-bottom: 1px solid var(--accent-gray);
    border-left: 1px solid var(--accent-gray);
    border-right: 1px solid var(--accent-gray);
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0.4rem;
    position: relative;
    user-select: none;
    width: 100%;
}

.settings_option:first-of-type {
    border-top: 1px solid var(--accent-gray);
}

/* Create a custom radio button */
.settings-radio {
    position: absolute;
    top: 0.3rem;
    right: 0.4rem;
    height: 1.1rem;
    width: 1.1rem;
    background-color: #fafafa;
    border: 1px solid var(--accent-gray);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.settings_option:hover input ~ .settings-radio {
    background-color: #ccc;
}

/* When the radio button is checked, add a purple background */
.settings_option input:checked ~ .settings-radio {
    background-color: var(--primary-purple);
    border: none;
}

.menu-title {
    align-self: center;
    margin: 0;
}

.footer-copy {
    color: gray;
}

.menu-icon {
    display: inline-flex;
    align-self: center;
    height: 0.9rem;
    width: 0.9rem;
    top: .125em;
    position: relative;
    margin-right: 0.4rem;
}

.menu-link {
    color: inherit;
    position: relative;
    text-decoration: none;
}

.menu-link:hover {
    color: var(--primary-purple);
    text-decoration: underline;
}


@media only screen and (max-width: 900px) {
    .menu { font-size: 1rem; }

    .menu_settings { padding: 2rem 0.6rem; }

    .settings { margin-top: 2rem; }

    .settings_option { padding: 0.5rem 0.4rem; }

    .settings-radio {
        top: 0.6rem;
        right: 0.5rem;
    }

    .menu_contact { padding: 1.3rem 0.6rem; }

    .menu-link { font-size: 0.8rem; }

    .footer-copy { font-size: 0.8rem; }
}