/* || Header Component Styles || */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    color: var(--primary-purple);
    cursor: pointer;
}

.icon-space {
    margin-right: 1.3rem;
}

/* || Sidebar Component Styles || */
.sidebar {

}

.sidebar_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 3.5rem;
    border-bottom: 1px solid #ccc;
    padding: 0 0.7rem;
}

.sidebar_notes {
    overflow-y: auto;
}

.note {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    padding: 0.7rem;
}

.note:hover { background-color: var(--primary-purple--light); }

.note[data-state="is-active"] {
    background-color: var(--primary-purple--light);
    border-bottom: var(--primary-purple);
}

.note-title, .note-preview { margin: 0; }

.note-title { font-size: 1rem; }

.note-preview { font-size: 0.8rem; }


/* || Content Component Styles || */
.content {

}