/* || Header Component Styles || */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    cursor: pointer;
    margin-right: 1.3rem;
}


/* || Sidebar Component Styles || */
.sidebar {

}


/* || Content Component Styles || */
.content {

}