.layout-container {
    display: grid;
    grid-template:
        "sidebar header" 3.5rem
        "sidebar content" 1fr
        / 20rem 1fr;
    height: 100vh;
}

.layout-header {
    grid-area: header;
    padding: 0 1rem;
    border-bottom: 1px solid #dcdcde;
}

.layout-sidebar {
    grid-area: sidebar;
    border-right: 1px solid #dcdcde;
}

.layout-content {
    grid-area: content;
}