/*
**
**  TABLE OF CONTENTS
**
**  LAYOUTS
**      Grid Container..............................Layout for the site grid container
**      Content Section.............................Layout for the content section
**      Header Section..............................Layout for the header section
**      Menu Section................................Layout for the menu section
**      Overlay.....................................Layout for the overlay
**      Sidebar Section.............................Layout for the sidebar section
**
**  LAYOUT STATES
**      Hide Sidebar................................Hiding the sidebar section
**      Display Menu................................Displaying the menu section
**
**  MEDIA QUERIES
**      Mobile and Tablet..........................Responsive CSS for mobile and tablet displays
**
*/




/* || LAYOUTS || */


/* LAYOUT - Grid Container*/
.layout-container {
    background-color: var(--color-bg);
    color: var(--color-text);
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
    grid-template-columns: 350px 1fr;
    grid-template-rows: 3.5rem 1fr;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}

/* LAYOUT - Content Section */
.layout-content {
    background-color: var(--color-bg--alt);
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* LAYOUT - Header Section */
.layout-header {
    border-bottom: 1px solid var(--color-accent);
    padding: 0 1rem;
}

/* LAYOUT - Menu Section */
.layout-menu {
    background-color: var(--color-bg--alt);
    border-right: 1px solid var(--color-accent);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 300px;
    z-index: 5;
}

/* LAYOUT - Overlay */
.layout-overlay {
    background-color: var(--color-overlay);
    bottom: 0;
    height: 100%;
    left: 300px;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: calc(100vw - 300px);
    z-index: 2;
}

/* LAYOUT - Sidebar Section */
.layout-sidebar {
    border-right: 1px solid var(--color-accent);
    grid-area: sidebar;
}




/* || LAYOUT STATES || */


/* STATE - Hide Sidebar */

.layout-sidebar[data-display="is-active"] ~ .layout-header {
    grid-area: header;
}

.layout-sidebar[data-display="is-active"] ~ .layout-content {
    grid-area: content;
}

/* Hide the sidebar section */
.layout-sidebar[data-display="is-hidden"] {
    display: none;
}

/* Make the content and header sections fullscreen */
.layout-sidebar[data-display="is-hidden"] ~ .layout-header,
.layout-sidebar[data-display="is-hidden"] ~ .layout-content {
    grid-column: span 2;
}


/* STATE - Display Menu */

/* Display the menu section and the overlay */
.layout-menu[data-display="is-active"],
.layout-overlay[data-display="is-active"] {
    visibility: visible;
}

/* Shift the grid container to the right */
.layout-menu[data-display="is-active"] ~ .layout-container {
    left: 300px;
    pointer-events: none;
    position: relative;
    z-index: 0;
}




/* || MEDIA QUERIES || */


/* MEDIA - Mobile and Tablet */
@media only screen and (max-width: 900px) {
    .layout-sidebar {
        border: none;
        grid-column: span 2;
    }

    .layout-content {
        height: 100%;
    }

    .layout-sidebar[data-display="is-active"] ~ .layout-header,
    .layout-sidebar[data-display="is-active"] ~ .layout-content {
        display: none;
    }
}