.layout-container {
    background-color: var(--color-bg);
    color: var(--color-text);
    display: grid;
    grid-template:
        "sidebar header" 3.5rem
        "sidebar content" 1fr
        / 20rem 1fr;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}

.layout-header {
    grid-area: header;
    padding: 0 1rem;
    border-bottom: 1px solid var(--accent-gray);
}

.layout-sidebar {
    grid-area: sidebar;
    border-right: 1px solid var(--accent-gray);
}

.layout-content {
    grid-area: content;
    overflow-y: auto;
}

.layout-content, .layout-menu {
    background-color: var(--color-bg);
    color: var(--color-text);
}

.layout-sidebar[data-active="is-hidden"] {
    display: none;
}

.layout-sidebar[data-active="is-hidden"] ~ .layout-content,
.layout-sidebar[data-active="is-hidden"] ~ .layout-header {
    grid-column: span 2;
}

.layout-menu, .layout-overlay {
    visibility: hidden;
    height: 100%;
    bottom: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.layout-menu {
    border-right: 1px solid var(--accent-gray);
    left: 0;
    width: 14rem;
    z-index: 5;
}

.layout-overlay {
    background: linear-gradient(
        var(--color-overlay),
        var(--color-overlay)
    );
    left: 14rem;
    width: 100vw;
    z-index: 2;
}

.layout-menu[data-active="is-active"],
.layout-menu[data-active="is-active"] ~ .layout-overlay {
    visibility: visible;
}

.layout-menu[data-active="is-active"] ~ .layout-container {
    left: 14rem;
    position: relative;
    pointer-events: none;
    z-index: 0;
}

@media only screen and (max-width: 900px) {
    .layout-sidebar {
        border: none;
        display: none;
    }

    .layout-content {
        height: 100%;
    }

    .layout-sidebar[data-active="is-active"] {
        display: block;
        grid-column: span 2;
        width: 100vw;
    }

    .layout-header,
    .layout-sidebar[data-active="is-hidden"] ~ .layout-container {
        grid-column: span 2;
    }

    .layout-sidebar[data-active="is-active"] ~ .layout-header,
    .layout-sidebar[data-active="is-active"] ~ .layout-content {
        display: none;
    }
}