/* LAYOUT - Sidebar Section */
.layout-sidebar {
  border-right: 1px solid var(--color-border);
  grid-area: sidebar;
}

/* STATE - Hide Sidebar */

.layout-sidebar[data-display="is-active"] ~ .layout-header {
  grid-area: header;
}

.layout-sidebar[data-display="is-active"] ~ .layout-content {
  grid-area: content;
}

/* Hide the sidebar section */
.layout-sidebar[data-display="is-hidden"] {
  display: none;
}

/* Make the content and header sections fullscreen */
.layout-sidebar[data-display="is-hidden"] ~ .layout-header,
.layout-sidebar[data-display="is-hidden"] ~ .layout-content {
  grid-column: span 2;
}

/* Sidebar Header*/
.sidebar_header {
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  padding: 0 0.7rem;
}

/* Sidebar Notes */
.sidebar_notes {
  font-family: var(--font-content);
  height: calc(100% - 3.5rem);
  overflow-y: auto;
}

.sidebar_notes--empty {
  color: gray;
  font-weight: 400;
  height: calc(100vh - 7rem);
  line-height: calc(100vh - 7rem);
  text-align: center;
}

/* Note Preview */
.note {
  border-bottom: 1px solid var(--color-border);
  cursor: pointer;
  min-height: 2.6rem;
  max-height: 3.5rem;
  padding: 0.7rem;
}

.note:hover {
  background-color: var(--color-border);
}

.note[data-state="is-active"] {
  background-color: var(--color-select);
}

.note_title,
.note_text {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note_title {
  font-size: 1rem;
  font-weight: 400;
}

.note_text {
  font-size: 0.8rem;
}

@media only screen and (max-width: 900px) {
  .note[data-state="is-active"] {
    background-color: transparent;
    border-bottom: 1px solid var(--color-border);
  }

  .layout-content {
    height: 100%;
  }

  .layout-sidebar[data-display="is-active"] ~ .layout-header,
  .layout-sidebar[data-display="is-active"] ~ .layout-content {
    display: none;
  }
}
