@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Russo+One&display=swap');

:root {
  --primary-purple: #6C5CE7;
  --primary-purple--light: #c9c4f6;
  --accent-gray: #DFE6E9;
  --font-main: "Russo One";
  --font-text: "Roboto Slab";
}

.container {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas:
    "header"
    "display";
  height: 98vh;
  width: 100vw;
  overflow-y: hidden;
}

.header {
  box-sizing: border-box;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 24px;

  color: var(--primary-purple);

  padding: 0 120px;
  margin: 0;
  border-bottom: 1px solid var(--accent-gray);
}

.header-title {
  font-size: 24px;
  font-weight: 500;
}

.editor {
  grid-area: display;
  padding: 15px 120px;
}

.editor_textarea {
  box-sizing: border-box;
  font-size: 1.3em;
  font-family: var(--font-text);
  width: 100%;
  height: auto;
  min-height: 90vh;
  max-height: 93vh;
  padding: 20px 120px;
  resize: none;
  outline: none;
  overflow: auto;
  border: 1px solid var(--accent-gray);
}

@media only screen and (max-width: 400px) {
  .header {
    padding: 0 20px;
    font-size: 18px;
  }

  .header-title { font-size: 18px; }

  .editor { padding: 0; }

  .editor_textarea {
    font-size: 16px;
    padding: 10px 10px;
    border: none;
  }
}

@media only screen and (min-width: 400px) and (max-width: 1200px) {
  .header {
    padding: 0 60px;
    font-size: 20px;
  }

  .header-title { font-size: 20px; }

  .editor { padding: 0; }

  .editor_textarea {
    font-size: 1.4em;
    padding: 10px 60px;
    border: none;
  }
}